<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <script src="/static/js/jquery-1.8.2.min.js"></script>
 <script src="/static/js/adminlogin.js"></script>
 <link rel="stylesheet" type="text/css" href="/static/css/login2.css" />
     <link rel="stylesheet" type="text/css" href="/static/css/buttons.css" />
</head>
<body>
	<div id='bg'><img src="/static/img/test-small.png" class = 'bac blur'></div>

	<div class="content">
        <!--  登录面板    -->
        <div class="panel">
            <h1>admin</h1>
            <!--  账号和密码组    -->
            <div class="group">
                <input class="username" placeholder="adminname" id="adminname">
                
            </div>
            <div class="group">
                <input password="password" placeholder="password" type="password" id="password">
            </div>

            <!--  登录按钮    -->
            <div class="login">
                <button id="submit" class="button button-3d button-uppercase button-royal">login</button>
            </div>
            <div class="register">
                <form action="/adminjump" method="post">
            <button class="button button-3d button-caution button-uppercase">register</button>
                    </form>
        </div>
        </div>
      </div>
    <!-- <div id="bg"><img src="test.png" alt="" /></div> -->
</body>
</html>