<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="/static/js/jquery-1.8.2.min.js"></script>
	<script src="/static/js/vue.js"></script>
	<script src="/static/js/books.js"></script>
    <script type="text/javascript">
        Vue.config.delimiters = ['${', '}'];
    </script>
         <link rel="stylesheet" type="text/css" href="/static/css/buttons.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/books.css" />
</head>
<body>
<div id="app" class = 'admincontent'>
    <h1>Manager books</h1>
    <div class="logout">
            <form action="/admin/logout" method="POST">
        <button class="button button-3d button-uppercase button-royal">loggout</button>
                </form>
    </div>
  <label for="bookname" class="label">new book </label>
    <input v-model="newBook" v-on:keyup.enter="addToBooks" class = 'input' id="bookname">
    <button v-on:click="addToBooks" class="add button button-3d button-action button-pill">add</button>
  <div class = 'books'>
    <div v-for="book in books | filterBy newBook in 'name'" class = 'book' id="${book.bid}">
         <table class="bookinfo">
            <tr>
   <th rowspan="3" class = 'name'>《${book.name}》</th>
                <td>剩余:<span class= "remainder"> ${book.remainder}       </span></td>
                <th rowspan="3">  <button v-on:click="removeBook(book.bid)" class="mybutton button button-caution button-small button-longshadow-right" >X</button></th>
                </tr>
            <tr>
               <td >已借出:<span class= "borrow  ${book.borrow == book.count? 'hide' : 'show'}"> ${book.borrow}</span>
               <span class= "reservation ${book.borrow == book.count? 'show' : 'hide'}">全部都已借出 剩余未预约: ${book.borrow - book.reservation}</span>
               </td>
            </tr>
            <tr>
            <td class = "Unclaimed">预约待领取: ${book.Unclaimed}</td>
            </tr>
        </table>
    </div>
  </div>
</div>
</body>
</html>