<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="/static/js/jquery-1.8.2.min.js"></script>
	<script src="/static/js/vue.js"></script>
	<script src="/static/js/library.js"></script>
    <script type="text/javascript">
        Vue.config.delimiters = ['${', '}'];
    </script>
         <link rel="stylesheet" type="text/css" href="/static/css/buttons.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/books.css" />
</head>
<body>
<div class="top">
   <div class="button-group topbuttons">
    <button id="topbutton1" type="button" class="button button-pill button-primary">我的借阅</button>
    <button id="topbutton2" type="button" class="button button-pill button-action ">图书总览</button>
    <button id="topbutton3" type="button" class="button button-pill button-action button-highlight ">我的预约</button>
  </div>
    </div>
<div id="username">当前用户:${name}</div>
<div class="logout">
            <form action="/logout" method="POST">
        <button class="button button-3d button-uppercase button-royal">loggout</button>
                </form>
    </div>
<div id="app2" class = 'content'>
  <h1>图书总览</h1>
  <label for="bookname" class="label">search: </label>
    <input v-model="wantBook" v-on:keyup.enter="borrowBook" class = 'input' id="app2bookname">
  <div class = 'books'>
    <div v-for="book in books | filterBy wantBook in 'name'" class = 'book' id="app2${ $index }">
        <table class="bookinfo">
            <tr>
   <th rowspan="3" class = 'name'>《${book.name}》</th>
                <td class= "count">总数: ${book.count} </td>
                <th rowspan="3" class= "${book.borrow == book.count? 'hide' : 'show'}">  <button  v-on:click="borrowBook(book.name) " class=' mybutton button button-primary button-small button-longshadow-right'>借阅</button></th>
                <th rowspan="3" class= "${book.borrow == book.count? 'show' : 'hide'}">  <button  v-on:click="reserveBook(book.name) " class="mybutton button button-highlight button-small button-longshadow-right ${book.reservation == book.count ? 'disabled' : '' }">预约</button></th>
                </tr>
            <tr>
                <td class= "count">剩余: ${book.remainder} </td>
            </tr>
            <tr>
             <td><span class= "${book.borrow == book.count? 'hide' : 'show'}">已借出:</span> <span class= "borrow  ${book.borrow == book.count? 'hide' : 'show'}">${book.borrow}</span>
                        <span class= "reservation ${book.borrow == book.count? 'show' : 'hide'}">全部都已借出 剩余未预约: ${book.borrow - book.reservation}</span>
               </td>
            </tr>
      </table>
   <!--<span class = 'name'>《${book.name}》       </span>-->
        <!--<span class= "count">剩余: ${book.remainder}  </span>-->
        <!--已借出:<span class= "borrow  ${book.borrow == book.count? 'hide' : 'show'}">   ${book.borrow}</span>-->
        <!--<span class= "reservation ${book.borrow == book.count? 'show' : 'hide'}">     全部都已借出 剩余未预约: ${book.borrow - book.reservation}</span>-->
        <!--<button  v-on:click="borrowBook(book.name) " class='borrowbutton button button-primary button-small'>借阅</button>-->
    </div>
  </div>
</div>
<div id="app1" class = 'content'>
  <h1>我的借阅</h1>
  <label for="bookname" class="label">search: </label>
    <input v-model="wantBook" v-on:keyup.enter="returnBook" class = 'input' id="app1bookname">
  <div class = 'books'>
    <div v-for="book in books | filterBy wantBook in 'bookname'" class = 'book' id="app1${ $index }">
        <table class="bookinfo">
            <tr>
   <th rowspan="3" class = 'name'>《${book.bookname}》       </th>
                <td class= "borrow_datetime">借阅时间: ${book.borrow_datetime} </td>
                <th rowspan="3">  <button  v-on:click="returnBook($index) " class='mybutton button button-action button-small button-longshadow-right'>归还</button></th>
                </tr>
            <tr>
               <td class= "return_datetime"> 归还期限: ${book.return_datetime} </td>
            </tr>
            <tr>
            <td>预定</td>
            </tr>
        </table>
          </div>
  </div>
</div>
<div id="app3" class = 'content'>
  <h1>我的预约</h1>
    <label for="bookname" class="label">search: </label>
    <input v-model="wantBook" class = 'input' id="app3bookname">
  <div class = 'books'>
    <div v-for="book in books | filterBy wantBook in 'bookname'" class = 'book' id="app3${ $index }">
        <table class="bookinfo">
            <tr>
   <th rowspan="3" class = 'name'>《${book.bookname}》</th>
                <td class= "reservation_datetime">预约时间: ${book.reservation_datetime} </td>
                <th rowspan="3">  <button  v-on:click="getreservedBook($index) " class='mybutton button button-primary button-small button-longshadow-right'>领取</button></th>
                </tr>
            <tr>
               <td class= "last_keep_datetime"> 保存期限: ${book.last_keep_datetime} </td>
            </tr>
            <tr>
            <td><span v-if="book.r_status == 1">可领取</span><span v-else>不可领取</span></td>
            </tr>
        </table>
          </div>
  </div>
</div>

</body>
</html>