<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="/static/js/jquery-1.8.2.min.js"></script>
	<script src="/static/js/vue.js"></script>
	<script src="/static/js/library.js"></script>
    <script type="text/javascript">
        Vue.config.delimiters = ['${', '}'];
    </script>
         <link rel="stylesheet" type="text/css" href="/static/css/buttons.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/books.css" />
</head>
<body>
<div class="top">
   <div class="button-group topbuttons">
    <button id="topbutton1" type="button" class="button button-pill button-primary">我的借阅</button>
    <button id="topbutton2" type="button" class="button button-pill button-action button-action">图书总览</button>
    <button id="topbutton3" type="button" class="button button-pill button-action button-highlight ">其他消息</button>
  </div>
    </div>
<div class="logout">
            <form action="/logout" method="POST">
        <button class="button button-3d button-uppercase button-royal">loggout</button>
                </form>
    </div>
<div id="app2" class = 'content'>
  <h1>图书总览</h1>
  <label for="bookname" class="label">search: </label>
    <input v-model="wantBook" v-on:keyup.enter="borrowBook" class = 'input' id="app2bookname">
  <div class = 'books'>
    <div v-for="book in books | filterBy wantBook in 'name'" class = 'book' id="app2${ $index }">
   <span class = 'name'>《${book.name}》       </span>
        <span class= "count">剩余: ${book.remainder}  </span>
        已借出:<span class= "borrow  ${book.borrow == book.count? 'hide' : 'show'}">   ${book.borrow}</span>
        <span class= "reservation ${book.borrow == book.count? 'show' : 'hide'}">     全部都已借出 剩余未预约: ${book.borrow - book.reservation}</span>
        <button  v-on:click="borrowBook(book.name) " class='right2 button button-primary button-small'>借阅</button>
    </div>
  </div>
</div>
<div id="app1" class = 'content'>
  <h1>我的借阅</h1>
  <label for="bookname" class="label">search: </label>
    <input v-model="wantBook" v-on:keyup.enter="returnBook" class = 'input' id="app1bookname">
  <div class = 'books'>
    <div v-for="book in books | filterBy wantBook in 'bookname'" class = 'book' id="app1${ $index }">
   <span class = 'name'>《${book.bookname}》       </span>
        <span class= "borrow_time">借阅时间: ${book.borrow_datetime}  </span>
        <button  v-on:click="returnBook($index) " class='right2 button button-primary button-small'>归还</button>
    </div>
  </div>
</div>
<div id="app3" class = 'content'>
  <h1>我的信息</h1>
  <label for="bookname" class="label">search: </label>
    <input v-model="wantBook" v-on:keyup.enter="borrowBook" class = 'input' id="bookname">
  <div class = 'books'>
    <div v-for="book in books | filterBy wantBook in 'name'" class = 'book' id="${ $index }">
   <span class = 'name'>《${book.name}》       </span>
        <span class= "count">剩余: ${book.remainder}  </span>
        已借出:<span class= "borrow  ${book.borrow == book.count? 'hide' : 'show'}">   ${book.borrow}</span>
        <span class= "reservation ${book.borrow == book.count? 'show' : 'hide'}">     全部都已借出 剩余未预约: ${book.borrow - book.reservation}</span>
        <button  v-on:click="borrowBook(book.name) " class='right2 button button-primary button-small'>借阅</button>
    </div>
  </div>
</div>

</body>
</html>